body {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1601px) {
    header {
        padding: 8px 32px;
        margin: 32px 0;
    }

    header h1 {
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        width: 320px;
        list-style-type: none;
        float: left;
        padding: 0;
        margin: 0 96px;
    }
    
    main {
        margin: 0 0 32px 512px;
        max-width: 100ch;
        padding: 32px 0;
    }
    
    article {
        padding: 0;
        margin: 0 64px;
    }
    
    article h1 {
        margin: 0 0 -10px 0;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1600px) {
    header {
        padding: 8px 32px;
        margin: 32px 0;
    }

    header h1 {
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        list-style-type: none;
        float: left;
        padding: 0;
        margin: 0 17%;
        width: 66%;
    }

    nav ul li {
        float: left;
        width: 25%;
    }
    
    main {
        width: 66%;
        margin: 32px 17%;
        padding: 32px 0;
    }
    
    article {
        padding: 0;
        margin: 0 64px;
    }
    
    article h1 {
        margin: 0 0 -10px 0;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0;
        margin: 0;
    }

    header h1 {
        text-align: center;
        margin: 0;
    }

    nav ul {
        border-radius: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: left;
    }

    nav ul li {
        width: 50%;
        float: left;
    }

    main {
        float: left;
        margin: 0;
        padding: 0 8px;
    }

    article {
        margin: 0;
        padding: 0;
    }
}