body {
    background: linear-gradient(0deg, #663333 0%, #000032 100%);
    margin: 0;
    padding: 64px 24%;
}

header {
    outline: solid 1px #6666aa;
    background-color: #111;
    border-radius: 12px;
    color: #6666aa;
    
    font-size: 21pt;
    padding: 8px 32px;
}

header h1, header p {
    margin: 0;
    padding: 0;
}

nav {
    color: #eeeeea;
    font-size: 18pt;
    background-color: #663333;
    border-radius: 12px;

    position: absolute;
    left: 20px;
    top: 192px;
    width: calc(24% - 40px);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    text-align: center;
    line-height: 2;
    margin: 0;
    width: 100%;
    border-radius: 12px;
}

nav ul li:hover {
    background-color: #6666aa;
    cursor: pointer;
}

main {
    font-size: 14pt;
    color: #ddddbb;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 32px 0;
    padding: 24px;
}

article {
    padding: 0;
    margin: 0 64px;
}

article h1 {
    border-bottom: solid 1px #aaa;
    line-height: 2;
}

article p {
    line-height: 1.5;
}
