body {
    font-family: ubuntu;
    background: linear-gradient(0deg, #944 0%, #114 100%);
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #99e;
    font-size: 21pt;
}

nav ul {
    color: #eeeeda;
    font-size: 18pt;
    background-color: #944;
    border-radius: 12px;
    line-height: 2;
    text-align: center;
}

nav ul li {
    border-radius: 12px;
}

nav ul li:hover {
    color: #aaf;
    font-weight: bold;
    background-color: #744;
    outline: 1px solid #aaf;
    box-shadow: 0px 0px 4px 2px #aaf; 
    cursor: pointer;
}

main {
    border-radius: 12px;
    font-size: 14pt;
    color: #eeeeda;
    background-color: rgba(0, 0, 0, 0.3);
}

article h1 {
    border-bottom: solid 1px #aaa;
    line-height: 2;
}

article p {
    line-height: 1.5;
}

article a {
    color: #99e;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-L.ttf");
    font-weight: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-M.ttf");
    font-weight: bold;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-LI.ttf");
    font-style: italic;
}